<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rails Engine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <style>
      body {
        background-color: lightgray;
      }
      table, tr, th, td {
        border: 1px solid black;
        padding: 5px;
      }
      table {
        border-collapse: collapse;
        width: 70%;
      }
      p {
        margin-left: 20px;
      }
      hr {
        border: 4px solid #4d4d4d;
        box-shadow: 5px 10px 8px #888888;
        border-radius: 5px
      }
      .endpoint-info {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 5px 10px 8px #888888;
      }
      .url, .method {
        border: 1px solid black;
        border-radius: 5px;
        padding: 7px;
      }
      .method {
        background-color: darkseagreen;
        margin-left: -10px;
      }
      .url {
        background-color: aliceblue;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Sales Engine </h1>
    <p class='url'><span class='method'>Base URL:</span> https://sales-engine-m3.herokuapp.com</p>
    <p>example: https://sales-engine-m3.herokuapp.com/api/v1/items/5</p>
    <hr>
    <div class="category">
      <h2>Merchant Information</h2>
      <%= render partial: 'endpoint', collection: @merchant_endpoints %>
    </div>
    <hr>
    <div class="category">
      <h2>Item Information</h2>
      <%= render partial: 'endpoint', collection: @item_endpoints %>
    </div>
    <hr>
    <div class="category">
      <h2>Business Analysis</h2>
      <%= render partial: 'endpoint', collection: @analysis_endpoints %>
    </div>
  </body>
</html>
